/* цвет основного текста #757575 */
/* цвет вторичного текста ##212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона F5F4FA */
/* логотип #000000 */
/* footer adress #FFFFFF 60% */
/* Footer #2F303A */
:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}
body {
   background-color: #FFFFFF;
   color: var(--primary-text-color);
   font-family: 'Roboto', sans-serif;
   letter-spacing: 0.02em;
}
/* Logo */
.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;        
    letter-spacing: 0.03em;
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Site nav */
.site-nav-list .link.curent{
    color: var(--accent-color);
}
.site-nav-list .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.site-nav-list .adress-link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14; 
    text-decoration: none;
}

.site-nav-list .link:hover,
.site-nav-list .link:focus,
.site-nav-list .adress-link:hover,
.site-nav-list .adress-link:focus {
   color: var(--accent-color);
}
/* Hero */
.section-hero{
    background-color: #2F303A;
}
.section-title-hero{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.section-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;  
}
/* Benefits */
.benefits-list .title {
    color: var(--title-text-color);
}
.benefits-item {
    font-size: 14px;
    line-height: 1.7;
}
/* Team */
.section-team{
    background-color: #F5F4FA ;
}
.team-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
.team-item{
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
/* Button */
.button{
    color: #FFFFFF ;
    background-color: var(--accent-color) ;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
/* Footer */
.footer{
    background-color: #2F303A;
}
.map-link{
    color: #FFFFFF;
    text-decoration: none;
}
.link-footer{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.map-link:hover,
.map-link:focus{
    color: #2196F3;
}
.link-footer:hover,
.link-footer:focus {
    color: #2196F3;
}
/* Portfolio */
/* filters */
.button-list{
    color: var(--title-text-color);
    background-color: #F5F4FA;
}
/* Projects */
.projects-link{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects-item{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
.projects-href{
text-decoration: none;
}
.button-list:hover,
.button-list:focus{
    color: #FFFFFF;
    background-color: var(--accent-color);
}
.button-list{
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}